<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:treeTable value="#{backingBean0.createNodes(backingBean0.mapEntity.map)}"
                    var="treeVar">
                <f:facet name="header">
                    header
                </f:facet>
                <p:column headerText="Key">
                    <h:outputText value="#{treeVar.key}"/>
                </p:column>
                <p:column>
                    <p:inputText value="#{treeVar.value.value}">
                        <p:ajax/>
                    </p:inputText>
                </p:column>
            </p:treeTable>
        </h:form>
    </h:body>
</html>

